div.product(class="row")
    button.delete(type="button" class="col-xs-3 col-md-3 btn btn-danger btn-xs" ng-click="delete()") X
    button.update(type="button" class="col-xs-9 col-md-9 btn btn-default btn-xs" ng-click="select()") {{name}}
