
#MAIN {
  display:          flex;
  flex-direction:   column;

  div {
    //border: solid #000000 1px;
  }

  #MENU {
    flex:     1;
    padding:  2px;
  }

  #MIDDLE {
    display:          flex;
    flex-direction:   row;
    align-items:      stretch;

    #LIST {
      display:          flex;
      flex-direction:   column;
      width:            400px;

      .product {
        display:  block;
        padding: 0px;

        .update {
          display:  inline-block;
          padding:  2px;
        }
        .delete {
          display:  inline-block;
          padding:  2px;
        }
      }
    }
    #PRODUCT {
      flex: 1;
    }
  }
}

@import "menu";
@import "list";
@import "product";