doctype html
html(lang="en" ng-app="spaExercise")
    head
        meta(charset="UTF-8")
        title Single Page Application - Exercise
        link(rel="stylesheet" href="/css/main.css")
        script(language="JavaScript" type="text/javascript" src="/lib/application/main.js")
    body
        div Hello World